<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gavinjin.wsdvs.mapper.ExtendedStreamingHistoryMapper">
    <resultMap id="BaseResultMap" type="com.gavinjin.wsdvs.model.domain.ExtendedStreamingHistorySong">
        <result property="trackUri" column="track_uri" jdbcType="VARCHAR"/>
        <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
        <result property="secPlayed" column="sec_played" jdbcType="INTEGER"/>
    </resultMap>

    <update id="createNewExtendedStreamingHistoryTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${tableName} (
            track_uri   VARCHAR(64)    comment 'track uri',
            timestamp   DATETIME      comment 'timestamp listening to songs',
            sec_played  INT           comment 'seconds of music played',
            index idx_history_timestamp(timestamp),
            index idx_track_uri(track_uri)
        ) collate = utf8mb4_unicode_ci;
    </update>

    <insert id="insertAllHistories" parameterType="java.util.ArrayList">
        INSERT INTO ${tableName} (track_uri, timestamp, sec_played)
        VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                (#{item.trackUri}, #{item.timestamp}, #{item.secPlayed})
            </foreach>
    </insert>

    <resultMap id="SecPlayedByDay" type="com.gavinjin.wsdvs.model.vo.SecPlayedByDayVO">
        <result property="day" column="day_of_week" jdbcType="VARCHAR"/>
        <result property="secPlayed" column="sec_played" jdbcType="BIGINT"/>
    </resultMap>

    <select id="getSecPlayedByDay" parameterType="java.lang.String" resultMap="SecPlayedByDay">
        SELECT DAYOFWEEK(CONVERT_TZ(timestamp, "+00:00", "-05:00")) AS day_of_week, SUM(sec_played) AS sec_played
        FROM ${tableName}
        GROUP BY DAYOFWEEK(CONVERT_TZ(timestamp, "+00:00", "-05:00"))
        ORDER BY day_of_week
    </select>
</mapper>
